.container {
  margin-top: 2rem;
}

.chat-balloon {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  font-style: italic;
  padding: 2rem;
  max-width: 70%;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.chat-balloon p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.microphone-status {
  margin-top: 1rem;
  margin-left: 3rem;
  padding: 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.microphone-status p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.btn {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #384440;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #5b605e;
}

.next-question {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #6b7280;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.next-question:hover {
  color: #4b5563;
}

.feedback {
  margin-top: 1rem;
  margin-left: 3rem;
  padding: 1rem;
  max-width: 70%;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.feedback p {
  font-size: 1.125rem;
  line-height: 1.5;
}
